.App {
  text-align: center;
}

.box-padding {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;

}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

